In [4]:
import pandas as pd
import matplotlib
from sklearn import preprocessing
%matplotlib inline

In [5]:
df = pd.read_csv(r'C:\Users\dakar\Desktop\NFL\NFL.csv', low_memory=False)

In [6]:
#filter columns
nedf = df[['posteam','qtr','down','game_seconds_remaining', 'yardline_100', 'down', 'ydstogo', 'play_type', 'pass_length', 'pass_location', 'run_location']]

In [10]:
nedf.dropna()

,posteam,qtr,down,game_seconds_remaining,yardline_100,down,ydstogo,play_type,pass_length,pass_location,run_location
48917,STL,1,2.0,3574.0,73.0,2.0,8,run,short,right,right
53483,DEN,2,1.0,2544.0,22.0,1.0,10,run,short,left,left
56862,ATL,4,1.0,698.0,52.0,1.0,10,run,short,middle,middle
153643,STL,3,2.0,1608.0,76.0,2.0,6,run,short,left,left

In [11]:
nedf

,posteam,qtr,down,game_seconds_remaining,yardline_100,down,ydstogo,play_type,pass_length,pass_location,run_location
0,PIT,1,NaN,3600.0,30.0,NaN,0,kickoff,NaN,NaN,NaN
1,PIT,1,1.0,3593.0,58.0,1.0,10,pass,short,left,NaN
2,PIT,1,2.0,3556.0,53.0,2.0,5,run,NaN,NaN,right
3,PIT,1,3.0,3515.0,56.0,3.0,8,pass,deep,right,NaN
4,PIT,1,4.0,3507.0,56.0,4.0,8,punt,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
449366,CAR,4,2.0,63.0,66.0,2.0,10,pass,short,middle,NaN
449367,CAR,4,3.0,58.0,66.0,3.0,10,pass,short,middle,NaN
449368,CAR,4,4.0,38.0,61.0,4.0,5,pass,short,right,NaN
449369,NO,4,1.0,35.0,39.0,1.0,10,qb_kneel,NaN,NaN,NaN
449370,NaN,4,NaN,0.0,NaN,NaN,0,NaN,NaN,NaN,NaN